image:
  reg: ghcr.io
  repo: benc-uk/cassandra-prototype
  tag: latest

replicas: 1

network:
  port: 8080
service:
  port: 80
  type: ClusterIP
ingress:
  enabled: false
  hosts:
    - host: chart-example.local
      paths: []
  tls: []

cassandra:
  metrics:
    enabled: true
  persistence:
    enabled: true
  replicaCount: 1
  cluster:
    datacenter: datacenter1 # No effect due to this bug https://github.com/bitnami/charts/issues/4408
  dbUser:
    user: cassandra
  initDBConfigMap: cassandra-db-init
